<h1>Course Register</h1>

<br>
<p>Course description</p>

<div class="social-container">
    <% if current_user && current_user.google_email %>
        <%= link_to "javascript:void(0);", { :class => "btn btn-block btn-social btn-google", :disabled => true} do %>
            <span class="fa fa-google"></span><%= current_user.google_email %>
        <% end %>
    <% else %>
        <%= link_to "/auth/google", { :class=> "btn btn-block btn-social btn-google" } do %>
            <span class="fa fa-google"></span>Sign in with Google
        <% end %>
    <% end %>
    
    <% if current_user && current_user.github_nickname %>
        <%= link_to "javascript:void(0);", { :class => "btn btn-block btn-social btn-github", :disabled => true} do %>
            <span class="fa fa-github"></span>@<%= current_user.github_nickname %>
        <% end %>
    <% else %>
        <%= link_to "/auth/github", { :class=> "btn btn-block btn-social btn-github" } do %>
            <span class="fa fa-github"></span>Sign in with GitHub
        <% end %>
    <% end %>
</div>

<% if current_user && current_user.ready_for_repo_creation %>
    <br>
    <div class="repo-container">
        <%= form_for current_user, action: :update, :remote => true, :html => {:class => "form"} do |f| %>
            <div class="form-group row">
                <%= f.label :manual_first_name, "First name:", class: "col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :manual_first_name, class: "form-control" %>
                </div>
            </div>
            <div class="form-group row">
                <%= f.label :manual_last_name, "Last name:", class: "col-sm-2 col-form-label" %>
                <div class="col-sm-10">
                    <%= f.text_field :manual_last_name, class: "form-control" %>
                </div>
            </div>

            <div class="form-group row">
                <%= recaptcha_tags %>
            </div>
    
            <div class="form-group row">
                <div class="text-center">
                    <%= f.submit "Submit", class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </div>
<% elsif current_user && current_user.creating_repo %>
<br>
<p>Process explanation</p>
<div class="alert alert-success text-center wait">
    <h4>Wait...</h4> 
    <hr/>
    <i class="fa fa-warning fa-2x"></i>
    <p>
        Your repo is being created. Check your email, reload or go to GitHub
    </p>
</div>
<% elsif current_user && current_user.repo_is_ready %>
<br>
<h3><%= link_to "Go to your repo", current_user.repo_url %></h3>
<p>Thanks for using this app.</p>
<% end %>

<% if current_user %>
<br>
<%= link_to "Sign out", signout_path %>
<p>Created by <a href="https://github.com/aaossa">Antonio Ossa</a></p>
<% end %>
